body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-page-container{
  align-content: center;
width: 500px;
text-align: center;
margin: auto;
}

.grid-fave{
  visibility: hidden;
}

.fave-icon:hover  .grid-fave{
  visibility: visible;
}

.arrow-up{
  color: black;
}

.arrow-up:hover{
  color: rgb(71, 243, 71);
}

.arrow-down{
  color: black;
}

.arrow-down:hover{
  color: rgb(243, 71, 71);
}

.underline{
  text-decoration: underline;
  text-decoration-thickness: 4px;
}

